[General Config]
# Number of runs to perform each experiment
Runs Per Experiment = 1

# Number of fitness evals to perform per run
Fitness Evals Per Run = 5000

# The desired seed. If you want a time-initialized seed, put 'true'
Seed = true

[Logging Config]
# Filename of the log output file
Log File = logs/default.log

# Filename of the solution output file
Solution File = solutions/default.sol

# Filename for the highest-scoring world file
Best World File = solutions/default.world

[World Config]
# Number of pac-men
Number of Pac-men = 3

# Number of ghosts
Number of Ghosts = 5

# Width of the game board
World Width = 20

# Height of the game board
World Height = 20

# Percentage chance for any given cell to be a pill (0, 1)
Pill Density = 75

# Percentage chance for any given cell to be a wall (0, 1)
Wall Density = 50

# Probability for a fruit to spawn on each turn
Fruit Spawning Probability = .3

# The amount that Pac-Man's score will increase every time he eats a fruit
Fruit Score = 10

# A constant to multiply the remaining time by
Time Multiplier = 5

[EA Config]
# Size of the population of individuals - referred to as mu
Population Size = 50

# Number of offspring per generation - referred to as lambda
Offspring per Generation = 25

# Whether or not multiple pac-men use the same controller or separate ones
Multiple Pac-men use one controller = false

# Max depth for GP Trees to reach
Max Depth = 10

# Chance for mutation to occur over recombination
Mutation Chance = .5

# Parent Selection Method: Fitness-Proportional Selection (0), Over-selection (1)
Parent Selection Method = 0

# Over-selection i-value (take top i%)
i-value = .2

# Over-selection j-value (make j% of offspring from the top camp)
j-value = .8

# Survival Selection Method: Truncation (0), k-tournament selection w/o replacement (1)
Survival Selection Method = 1

# The 'k' constant in k-tournament selection
Tournament Selection Size = 20

# Parsimony penalty coefficient
Parsimony Penalty Coefficient = .1

# Termination Conditions
Terminate on Number of Evals = true
Terminate on n generations of stagnant best fitness = false

# 'n' value for the above flag
Stagnant Generations until termination = 7
